body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'BMWTypeNext Pro Regular', sans-serif;
    
}
/* preguntar profe por qué no va */
/* https://www.onlinewebfonts.com/download/ac95f91c55cc591ecf37a4d136ff8031 */
@font-face {
    font-family: "BMWTypeNext Pro Regular";
    src: url('fonts/BMWTypeNext Pro Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.bmw-logo-left{
    width: 10%;
}

header{
    width: 100%;
    display:flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    background-image: url(videoframe_2052.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.mainHeader{
    display:flex;
    justify-content: center;
    align-items: center;
}
.headerTop{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
    /* width: 89%;
    margin-right: 5%; */
    width: 80%;

}


.rightHeaderTop{
    display:flex;
    justify-content: center;
    height: 20%;
    align-items: center;
    background-color: grey;
}
.headerIconTop{
    margin-top:5px;
    height: 30px;
    width: 30px;
}

.leftHeaderTop{
    display:flex;
    width: 50%;
    padding:20px;
    margin-top:10px;
}

.headerTop{
    margin:5px;
    /* padding:20px; */
}

.bmw-logo-left{
    padding-right: 35px;
    width: 13%;
}

.nav-link{
    color: #ffffff !important;
    /* buscar que es important */
}

.headerBottom{
    display:flex;
    justify-content:center;
    height: 400px;
    flex-direction:column;
    margin-left:20px;
    color:white;

}

.m-series{
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin:5px;
}

.m-series-logo{
    width: 50px;
    height: 50px;
}

.m5{
    margin-left: 10px;
    font-size: 500%;
}

.textTitle{
    font-size: 300%;
}

.formBottom{
    border-radius: 20px;
}


.transparent-btn{
    background-color: transparent;
    border: 1px solid black;
    color: white;
    height: 38px;
    border-radius: 2px;
}

.smallTextTop{
    font-size: 10px;
    color:grey;
    margin-top:10px;
    margin-left:40px;
}

.containerFirst{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pleasureText{
    height: 200px;
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}