video{
    position:absolute;
    top:50%;
    left:50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    object-fit: cover;
    z-index:-1;
}

.hover-scale:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}