body {
    margin: 0 auto;
}

.box {
    display: flex;
    flex-wrap: wrap;
}

.box1 {
    width: 100%;
    background-color: #00bafd;
    height: 500px;
}

.box2 {
    width: 100%;
    background-color: #fd00d7;
    height: 500px;
}

.box1--color1 {
    background-color: #4c00fd;
}

.box3 {
    width: 100%;
    background-color: #4c00fd;
    height: 500px;
}

.box1--color2 {
    background-color: #fd00d7;

}

@media screen and (min-width: 576px) {

    
    .box1 {
        box-sizing: border-box;
        width: 40%;
        background-color: rgb(255, 163, 127);
        display: flex;
        padding: 50px;
        justify-content: center;
        align-items: center;
    }

    .box2 {
        width: 60%;
    }
}

@media screen and (min-width: 1024px) {

    .box1,
    .box2,
    .box3 {
        width: 33.3333333%;
    }

}