@import "nib";

:root {
  --white: #ffffff;
  --gray: #808080;
}



.switch {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 50px;
  text-align: center;
  margin: -30px 0 0 -75px;
  background: var(--white);
  color: black;
  transition: all 0.2s ease;
  border-radius: 25px;
}

.switch span {
  position: absolute;
  width: 20px;
  height: 4px;
  top: 50%;
  left: 50%;
  margin: -2px 0 0 -4px;
  background: black;
  display: block;
  transform: rotate(-45deg);
  transition: all 0.2s ease;
  border-radius: 2px;
}

.switch span:after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 12px;
  margin-top: -8px;
  background: black;
  transition: all 0.2s ease;
  border-radius: 2px;
}

input[type=radio] {
  display: none;
}

.switch label {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  width: 60px;
  line-height: 50px;
  transition: all 0.2s ease;
}

label[for="esp"] {
  position: absolute;
  left: 0;
  height: 20px;
}

label[for="ing"] {
  position: absolute;
  right: 0;
}

#ing:checked ~ .switch {
  background: var(--gray);
  color: white;
}

#ing:checked ~ .switch span {
  background: white;
  margin-left: -8px;
}

#ing:checked ~ .switch span:after {
  background: white;
  height: 20px;
  margin-top: -8px;
  margin-left: 8px;
}

#esp:checked ~ .switch label[for="esp"] {
  color: black;
}

#ing:checked ~ .switch label[for="ing"] {
  color: white;
}
